<!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">About</h2>
                    <h3 class="section-subheading text-muted">Shane's open source history</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/1.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>November 1999</h4>
                                    <h4 class="subheading">Apache committer at the start</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Committer and PMC member on the Apache Xalan project, one of the first few projects created after the incorporation of the ASF in June 1999.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/2.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2002-2008</h4>
                                    <h4 class="subheading">ApacheCon organizing committee</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">After volunteering just once for the "Concom" committee, I organized ApacheCon conferences, and served as conference lead for ApacheCon US 2008 in New Orleans.</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/3.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2009-2015</h4>
                                    <h4 class="subheading">Director / VP, Brand</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">After being elected to the Board of Directors in 2009, I led the reorganization of the ASF's public relations committee into individual, delegated roles with clear responsibilities.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/4.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2016</h4>
                                    <h4 class="subheading">The new beginning</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">With extensive experience with technology, communities, branding, and conference speaking, it's time to start the next step: Punderthings Consulting: new ways to engage in open source!</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <h4>Be Part
                                    <br>Of Our
                                    <br>Story!</h4>
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Today</h4>
                                    <h4 class="subheading">Let us help you navigate!</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Punderthings is here to help both businesses and communities alike work better, together. Enquire about reduced rates for non-profits!</p>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
