<!--  fa-area-chart fa-bolt fa-paper-plane fa-slideshare fa-fort-awesome  fa-flag-checkered  fa-legal fa-life-ring fa-map -->
<!-- Services Section -->
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Services</h2>
                    <h3 class="section-subheading text-muted">Open source experience for businesses and communities.</h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-registered fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">FOSS Project Branding</h4>
                    <p class="text-muted">As V.P. Brand Management for the ASF, I implemented the effective open source branding policy used by 200+ Apache project communities.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-life-ring fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Community Mentoring</h4>
                    <p class="text-muted">With experience mentoring both individuals and project communities, I can help you and your team navigate the open source contribution process.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-line-chart fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Business Sense</h4>
                    <p class="text-muted">Reducing risk by helping your business understand the branding, legal, and long-term community aspects to the technology you rely on.</p>
                </div>
            </div>
        </div>
    </section>
